.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile img {
    border-radius: 100%;
    margin-right: 5px;
}

.profile button {
    margin-left: 5px;
}

